.divider {
    display: flex;
    flex-grow: 1;
    align-items: baseline;
    border-bottom: 1px solid #D3D3D3;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
  }


  @media screen and (max-width: 1000px) {
    .divider {
      padding-left: 25px;
      padding-right: 25px;
    }
  } 
  

