.subject {
  display: flex;
  flex-direction: column;
  padding-right: 75px;
  padding-left: 75px;
}

.subject__title {
  max-width: 850px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #114f5c;
}


@media screen and (max-width: 920px) {
  .subject {
    padding-right: 0;
    padding-left: 0;
  }

  .subject__title {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 500px) {
  .subject__title {
    font-size: 32px;
    line-height: 35px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
