.intro {
  display: flex;
  flex-direction: column;
  padding-right: 75px;
  padding-left: 75px;
}

.intro__title {
  max-width: 850px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #114f5c;
}

.intro__content {
  max-width: 850px;
  padding-left: 35px;
}

.intro__content-title {
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  margin-bottom: 10px;
  
}

.intro__content-body {
  font-size: 16px;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 920px) {
  .intro {
    padding-right: 0;
    padding-left: 0;
  }

  .intro__title {
    padding-right: 24px;
    padding-left: 24px;
  }

  .intro__content {
    padding-right: 24px;
    padding-left: 24px;
  }

  .intro__content-body {
    padding-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .intro__content {
    padding-right: 16px;
    padding-left: 16px;
  }
}
