.block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px 40px;
  margin-top: 20px;
  grid-template-areas:
  "title title"
  "image content";
}

.block__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 0;
  color: #114f5c;
  grid-column: 1/-1;
}

.block__image {
  grid-area: image;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  grid-column: 1;
  grid-row: 2/-1;
}

.block__description {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
}

.block__content {
  margin-top: 0;
  margin-bottom: 25px;
}


.block__content:last-of-type {
  margin-bottom: 0;
}


@media screen and (max-width: 1000px) {
.block {
  grid-gap: 24px 20px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.block__title {
    font-size: 60px;
}

}

@media screen and (max-width: 540px) {

.divider {
  visibility: hidden;
}

  .block {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    grid-gap: 0;
  }


  .block:first-of-type {
    margin-top: 62px;
  }

    .block__title {
    margin-bottom: 30px;
    font-size: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .block__image {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    align-self: center;
  }

  .block__description {
    margin-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 163%;
    font-weight: 400;
  }

}
