.subject {
  display: flex;
  flex-direction: column;
  padding-left: 145px;
  padding-right: 148px;
}

.subject__title {
  max-width: 850px;
  font-size: 54px;
  font-weight: 700;
  line-height: 58px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #114f5c;
}

@media screen and (max-width: 1200px) {
  .subject {
    padding-left: 5%;
    padding-right: 5%;
  }

@media screen and (max-width: 1000px) {
  .subject {
    padding-left: 24px;
    padding-right: 24px;
  }

  .subject__title {
    font-size: 40px;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 540px) {

  .subject__title {
    font-size: 32px;
    line-height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 390px) {
  .subject__title {
    font-size: 30px;
    line-height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
}